run = "cowsay Configure me!"
entrypoint = "README.md"

[nix]
channel = "stable-24_05"
packages = ["cowsay"]

[workflows]
runButton = "Distribution"

[[workflows.workflow]]
name = "Distribution"
author = 42390913
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "curl -fsSL https://deb.nodesource.com/setup_18.x | sudo -E bash -"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sudo apt-get install -y nodejs"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install express"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node install.js"

[deployment]
run = ["sh", "-c", "node install.js"]
