run = "cowsay Configure me!"
entrypoint = "README.md"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["cowsay"]

[workflows]
runButton = "Distribution"

[[workflows.workflow]]
name = "Distribution"
author = 42390913
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install express"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node install.js"

[deployment]
run = ["sh", "-c", "node install.js"]

[[ports]]
localPort = 5000
externalPort = 80
